@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


.container {
    width: 325px;
    margin: 0 auto;
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);;

}

body {
    background-color: hsl(225, 100%, 94%);
}

.image img{
    width: 325px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
}

.image {
    width: 325px;
    height: 170px;
    
}

.text {
    width: 325px;
    text-align: center;
    
}


.plan {
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}


.btn1 {
    display: block;
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.btn2 {
    display: block;
    width: 100%;
    border: none;
}



